Repository kunish/hsxi: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier -uw, eslint --fix, sort-package-json

.lintstagedrc:

{
  "*": "prettier -uw",
  "*.{ts,vue}": "eslint --fix",
  "package.json": "sort-package-json"
}

chore: update README.md
  README.md
  docker-compose.yml
  docs/screenshot.png
Due: prettier -uw

feat: replace toast with sonner
  bun.lockb
  components/NodeColumnActions/NodeColumnActionsDropdownMenu.vue
  components/ui/sonner/Sonner.vue
  components/ui/sonner/index.ts
  components/ui/toast/Toast.vue
  components/ui/toast/ToastAction.vue
  components/ui/toast/ToastClose.vue
  components/ui/toast/ToastDescription.vue
  components/ui/toast/ToastProvider.vue
  components/ui/toast/ToastTitle.vue
  components/ui/toast/ToastViewport.vue
  components/ui/toast/Toaster.vue
  components/ui/toast/index.ts
  components/ui/toast/use-toast.ts
  layouts/default.vue
  package.json
  pages/api-keys.vue
  pages/nodes.vue
  pages/routes.vue
  pages/setup.vue
  pages/users.vue
Due: prettier -uw, eslint --fix, sort-package-json

docs: update README.md
  README.md
Due: prettier -uw

feat: update api key toast title
  pages/api-keys.vue
Due: prettier -uw, eslint --fix

chore: update type definitions
  pages/api-keys.vue
  pages/nodes.vue
  pages/routes.vue
  pages/users.vue
Due: prettier -uw, eslint --fix

chore: upgrade dependencies
  bun.lockb
  package.json
Due: prettier -uw, sort-package-json
